@import url('reset.css');

.body {
    background-image: url('../img/drink_bg.png');
    font-family: 'Noto Serif JP', Arial;
}

.wrapper {

}

.product {
    margin: 0 auto;
    width: 1200px;
    margin-top: 90px;
}

.product img {
    float: left;
    height: 500px;
    margin-top: 10px;
    margin-left: 100px;
}

.product .product_text {
    font-family: 'Noto Serif JP', Arial;
    float: right;
    width: 350px;
    margin-right: 200px;
}

.product_text h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.product_text h2 {
    line-height: 0.4;
}

.product_text p {
    margin-bottom: 200px;
}

.product_text ul {}

.product_text li {
    float: right;
}

.product_text ul a {
    display: block;
    width: 160px;
    height: 60px;
    border: 2px solid #000;

    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 60px;
}

.product_text ul a:hover {
    color: #fff;
    background-color: #000;
}


/* -------- special situation title design --------- */
.product .special_title p{
    margin-bottom: 100px; 
}